<template>
	<div >
		<Row class="expand-row" v-for="(item,index) in row.equipment" :key="index">
			<Col span="16">
			<span class="expand-key">机器名: </span>
			<span class="expand-value">{{ item.name }}</span>
			</Col>
			<Col span="8">
				<Button type="error" size="small" @click="remove(item)">删除</Button>
			</Col>
		</Row>
	</div>

</template>

<script>
	export default {
		props: {
			row: Object
		},
		methods:{
			remove(){
				this.$Modal.confirm({
					title: "确定要删除该机器么？",
					onOk: () => {
						this.$Message.success("删除成功");
					},
					onCancel: () => {}
				});
			}
		}
	};
</script>

<style scoped>
	.expand-row{margin-bottom: 16px;}
</style>
