<template>
	<div>
		<Breadcrumb>
			<BreadcrumbItem>账号管理</BreadcrumbItem>
			<BreadcrumbItem>操作员列表</BreadcrumbItem>
		</Breadcrumb>
		<Form>
			<FormItem>
				<Button type="primary" @click="add" style="margin-right: 10px">添加</Button>
				<Button type="primary" @click="$router.go(-1)" style="margin-right: 10px">返回</Button>
			</FormItem>
		</Form>

		<div class="form_box">
			<Table :columns="columns" :data="tableData">
				<template slot-scope="{ row }" slot="option">
					<Button type="success" size="small" style="margin-right: 5px" @click="add2(row)">编辑</Button>
					<Button type="error" size="small" style="margin-right: 5px" @click="remove(row)">删除</Button>
				</template>
			</Table>
		</div>
		
		
		<Modal v-model="modal1" title="添加操作员" @on-ok="confirm" @on-cancel="cancel" :mask-closable="false">
			<Form :label-width="110">
		
				<FormItem label="操作员">
					<Input  placeholder="请输入用户名"></Input>
				</FormItem>
		
			</Form>
		</Modal>
		
		<Modal v-model="modal2" title="编辑操作员" @on-ok="confirm" @on-cancel="cancel" :mask-closable="false">
			<Form :label-width="110">
		
				<FormItem label="操作员">
					<Input placeholder="请输入用户名"></Input>
				</FormItem>
		
			</Form>
		</Modal>
		
		
	</div>
</template>

<script>
	
	export default {
		data() {
			return {
				modal1:false,
				modal2:false,
				columns: [
					{
						title: '操作员',
						key: 'name',

					},
					{
						title: "操作",
						slot: "option",
						minWidth: 200,
						align: "center",

					}
				],
				tableData: [{
						"id": "21",
						"name": "操作员1",
						"equipment":[
							{
								name:'机器1',
								id:1
							},
							{
								name:'机器2',
								id:2
							}
						]
					},
					{
						"id": "22",
						"name": "操作员2",
						"equipment":[
							{
								name:'机器3',
								id:1
							},
							{
								name:'机器4',
								id:2
							}
						]
					},
				]
			}
		},
		methods: {
			confirm(){
				this.modal1= false
				this.modal2= false
				this.$Message.success("操作成功");
			},
			cancel(){
				
			},
			add2(){
				this.modal2= true
			},
			add() {
				this.modal1= true
			},
			remove() {
				this.$Modal.confirm({
					title: "确定要删除该操作员吗？",
					onOk: () => {
						this.$Message.success("删除成功");
					},
					onCancel: () => {}
				});
			},
		}
	}
</script>

<style>
</style>
