<template>
	<div class="ivu-box">

		<div class="wl-box-card">
			<Card >
				<div class="wl-box-card-body" @click="$router.push('/team/index?name=wgh&type=3');">
					<img src="@/assets/01.png">
					<div class="wl-box-body-info">
						<h3>机器组总数</h3>
						<span>2</span>
					</div>
				</div>
			</Card>

		
			<Card>
				<div class="wl-box-card-body" @click="$router.push('/equipment/index?name=wgh&type=3');">
					<img src="@/assets/01.png">
					<div class="wl-box-body-info">
						<h3>机器总数</h3>
						<span>2</span>
					</div>
				</div>
			</Card>
			
		</div>


	</div>
</template>

<script lang="ts">
	export default {
		data() {
			return {
				data: {},
			}
		},
		methods: {
		

		},
		mounted() {
			// this.$nextTick(() => {
			// 	this.lists()
			// })
		},
		created() {
			// this.type = this.astgo.getItem('type');
		}
	}
</script>

<style scoped>
	.ivu-box {
		background: none;
	}

	.wl-box-card {
		width: 100%;
		height: 125px;
		display: flex;
		align-items: center;
		/* justify-content: space-between; */
	}
	
	.wl-box-card .ivu-card{
		width: 300px;
		cursor: pointer;
		margin-right: 20px;
	}
	

	.ivu-card {
		width: 22%;
		height: 100%;
	}

	.ivu-card .ivu-card-body {
		padding: 0 !important;
	}

	.wl-box-card-body {
		display: flex;
		align-items: center;
		justify-content: space-around;
	}

	.wl-box-card-body img {
		width: 80px;
	}

	.wl-box-body-info {
		color: #888;
		text-align: center;
	}

	.wl-box-body-info span {
		font-size: 28px;
		font-weight: bold;
		color: #666;
	}

	#main {
		width: 100%;
		margin-top: 40px;
		background: #fff;
	}

	#main1,
	#main2,
	#main3,
	#main4 {
		padding: 20px;
		width: 100%;
		height: 400px;
	}
</style>
