<template>
  <div class="ivu-box">
    <Breadcrumb>
      <BreadcrumbItem>系统设置</BreadcrumbItem>
      <BreadcrumbItem>修改密码</BreadcrumbItem>
    </Breadcrumb>
    <Form ref="formCustom" :model="form" :label-width="80">
      <FormItem label="邮箱">
        <Input type="text" v-model="form.old_pwd" placeholder="请输入邮箱"/>
      </FormItem>
			<FormItem label="验证码">
			  <Input type="text"  placeholder="请输入验证码"/>
			</FormItem>
      <FormItem label="新密码">
        <Input type="password" v-model="form.new_pwd" password placeholder="请输入新密码"/>
      </FormItem>
      <FormItem label="确认密码">
        <Input type="password" v-model="form.re_pwd" password placeholder="请输入确认密码"/>
      </FormItem>
      <FormItem>
        <Button type="primary" @click="Submit">确定</Button>
      </FormItem>
    </Form>
  </div>
</template>

<script>
export default {
  data () {
    return {
      form: {},
    }
  },
  methods: {
    Submit () {
			
			 this.$Message.success('修改成功，请重新登录');
			
   //    if (this.form.old_pwd == '') {
   //      this.$Message.error('原始密码不能为空!');
   //      return false;
   //    }
   //    if (this.form.new_pwd == '') {
   //      this.$Message.error('新密码不能为空!');
   //      return false;
   //    }
   //    if (this.form.re_pwd == '') {
   //      this.$Message.error('确认密码不能为空!');
   //      return false;
   //    }

   //    this.axios.post('admin/modifyPwd', this.form).then(res => {
   //      if (res.code == 1) {
   //        this.$Message.success('修改成功，请重新登录');
		 //  this.astgo.removeItem('token');
		 //  this.astgo.removeItem('refer');
		 //  this.astgo.removeItem('type');
		 //  this.$router.push('/login');
   //      }
   //    })
    }
  }
}
</script>

<style>

</style>