<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
		<!--引入高德地图JSAPI -->
		<!-- <script type="text/javascript" src='//webapi.amap.com/maps?v=1.4.14&key=53264659293d471cb2f18586992a22a5&plugin=AMap.ToolBar'></script> -->
		<!-- <script type="text/javascript" src='//webapi.amap.com/maps?v=1.4.14&key=53264659293d471cb2f18586992a22a5'></script> -->
		
		<!--引入UI组件库（1.0版本） -->
		<!-- <script src="//webapi.amap.com/ui/1.0/main.js?v=1.0.11"></script> -->
		
		<script type="text/javascript" src="https://webapi.amap.com/maps?key=0e445dca28965d5f7eb3f9d80de49039&v=1.4.4&plugin=AMap.Geolocation,AMap.Autocomplete,AMap.PlaceSearch,AMap.Scale,AMap.OverView,AMap.ToolBar,AMap.MapType,AMap.PolyEditor,AMap.CircleEditor,AMap.Geocoder"></script> 
		
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
