<template>
  <!-- <Form :model="formItem"   >

        <Form-item  > -->

  <!-- <Form ref="formCustom" :model="formCustom"  class="wl-container"  >
         <Form-item  >

        <Select clearable v-model="request.id" placeholder="请选择机器"  >
     <Option :value="item.id" v-for="(item,index) in data1" :key="index">{{item.name}}</Option>
   </Select>
        </Form-item>

        <Form-item>
            <Button type="primary" @click="handleSubmit('formCustom')">提交</Button>

        </Form-item>
    </Form> -->
  <div>
    <Row>
      <Col
        :xs="23"
        :sm="23"
        :md="23"
        :lg="20"
        style="margin: 40% auto 0px auto"
      >
        <Select clearable v-model="request.id" placeholder="请选择机器" @on-change="handleChangeValue" >
          <Option
            :value="item"
            v-for="(item, index) in data1"
            :key="index"
            >{{ item.name }}</Option
          >
        </Select>
      </Col>
    </Row>
    <Row style="margin-top:20px">
      <Col   :offset='10' >
        <Button type="error" @click="handleSubmitOk()">确定</Button>
      </Col>
    </Row>
  </div>

  <!-- </Form-item>
 </Form> -->
</template>

<script>
export default {
  data () {
    return {
      width: this.$store.state.width,
      height: this.$store.state.height,
      loading: false,
      request: {
        id: '',
        loading: false
      },
      codeImg: '',
      modal2: false,
      modal3: false,
      columns1: [],
      tableData: [],
      page: {},
      modalLoading: true,
      modal1: false,
      formItem: {},
      form: {
        id: null
        // username: "",
        // email: ""
      },
      data1: [],
      selectID: [],
      content: '',
      selectItem: {}
    }
  },
  created () {
    this.getequipmentlist()
  },
  methods: {
    selectChange (selection) {
      console.log('选项发生改变', selection)
      this.selectID = []
      selection.forEach((item) => {
        this.selectID.push(item.id)
      })

      if (this.selectID.length > 0) {
        this.showDel = true
      } else {
        this.showDel = false
      }
    },

    getequipmentlist () {
      // 机器
      this.axios.post('device/device_list').then((res) => {
        if (res.code === 1) {
          this.data1 = res.data
        }
      })
    },
    handleChangeValue (item) {
      this.selectItem = item
    },
    handleSubmitOk () {
      if (this.request.id === '') {
        this.$Message.info('请选择设备')
        return
      }
      // 确定跳转
      this.$router.push({ path: '/mobile/updowngoods', query: { id: this.selectItem.id, name: this.selectItem.name } })
      // this.$router.push({ name: 'home', params: { userId: wise }})
    },

    cancel () {
      this.form = {
        id: null,
        name: ''
      }
    }
  }
}
</script>

<style scoped>
.wl-container {
  width: 100%;
  height: 100%;
}
.spec_item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.spec_item .input {
  width: 200px;
}

.spec_item button {
  margin-left: 10px;
}

.box {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

.view {
  margin: 40% auto;
  width: 80%;
}
</style>
