<template>
  <div style="padding: 25px 15px">
    <Row>
      <Col :xs="12" :sm="12" :md="12">设备编号：{{ devId }}</Col>
      <Col :xs="12" :sm="12" :md="12">设备名称：{{ devName }}</Col>
    </Row>
    <div style="padding-top: 25px">
      <div style="margin-bottom: 10px">商品列表</div>
      <Table
        ref="tableGoods"
        :columns="columns1"
        :data="tableData"
        :height="height"
      >
        <!-- 商品图片 -->
        <template slot-scope="{ row }" slot="goodImg" align="center">
          <img :src="row.pic" style="height: 60px; margin: 0px auto" />
        </template>
        <template slot-scope="{ row }" slot="numUD" style="margin-right: 5px">
          <Row style="flex-flow: nowrap">
            <Col :span="3" style="padding-right: 15px; position: relative">
              <img
                src="@/assets/plus.png"
                style="
                  width: 16px;
                  height: 16px;
                  position: absolute;
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 0;
                  margin: auto;
                "
                @click="handlePlus(row)"
              />
            </Col>

            <!-- <Col :span="3" style="padding-right:23px;">  <Button   long icon="plus-round" size='small'></Button></Col> -->
            <Col :span="16"
              ><Input
                v-model="row.numUD"
                size="small"
                @on-change="(val) => handleKeyup(val, row)"
            /></Col>
            <Col :span="3" style="padding-right: 15px; position: relative"
              ><img
                src="@/assets/minus.png"
                style="
                  width: 16px;
                  height: 16px;
                  position: absolute;
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 0;
                  margin: auto;
                "
                @click="handleMinus(row)"
              />
            </Col>
          </Row>
        </template>
      </Table>

      <Row style="margin-top: 15px">
        <Col :xs="8" :sm="8" :md="8" style="margin: 0px auto"
          ><Button type="success" size="small" long @click="handleSubmit"
            >确认上货</Button
          ></Col
        >
      </Row>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      devId: '',
      devName: '',
      activity_id: 0,
      params: {
        page: 1,
        limit: 5,
        count: 0
      },

      height: 250, // this.$store.state.height,
      request: {
        haha_device_id: ''
      },
      columns1: [
        {
          title: '商品名',
          key: 'name',
          align: 'center'
        },
        {
          title: '商品图',
          slot: 'goodImg',
          align: 'center'
        },
        {
          title: '商品数',
          key: 'num',
          align: 'center'
        },
        {
          title: '上下货',
          slot: 'numUD',
          align: 'center',
          minWith: 200
        }
        // {
        //   title: '商品数量',
        //   key: 'num',
        //   align: 'center',
        //   render: (h, params) => {
        //     return h('div', [
        //       h('InputNumber', {
        //         props: {
        //           size: 'small',
        //           value: this.tableData[params.index].num
        //         },
        //         on: {
        //           'on-change': (e) => {
        //             this.tableData[params.index].num = e
        //           }
        //         }
        //       })
        //     ])
        //   }
        // }
      ],
      tableData: [],
      arrIndex: 0,
      length: 10,
      lastLength: 0,
      role_id: null
    }
  },
  mounted () {
    this.height =
      window.innerHeight - this.$refs.tableGoods.$el.offsetTop - 150
    this.devId = this.$route.query.id
    this.devName = this.$route.query.name
    this.listGoods()
  },
  methods: {
    listGoods () {
      this.loading = true
      this.request.haha_device_id = this.devName
      // Object.assign(this.request, this.params)
      this.axios.post('device/goods_list', this.request).then((res) => {
        if (res.code === 1) {
          this.activity_id = res.data.activity_id
          this.loading = false

          const data = res.data.goods_list

          const dataNew = data.map((element) => {
            Object.assign(element, { numUD: '' })
            return element
          })
          this.tableData = dataNew
        } else this.loading = false
      })
    },
    handleSubmit () {
      console.log(this.tableData)
      const arrGoods = this.tableData.map((item) => {
        if (item.numUD !== '') {
          return { shop_goods_id: item.goods_id, num: item.numUD }
        }
      })

      const postData = {
        activity_id: this.activity_id,
        device_id: this.devId,
        goods: arrGoods
      }
      this.axios.post('device/set_goods', postData).then((res) => {
        if (res.code === 1) {
          this.$Message.success('上货成功！')
          this.$router.push('/mobile/equipment')
        } else {
          this.$Message.success('上货失败！')
        }
      })
    },
    handleCurrentChange (val) {
      this.params.page = val
      this.listGoods()
    },
    handleKeyup (v, row) {
      if (v.target.value !== '' && !isNaN(v.target.value)) {
        this.tableData[row._index].numUD = parseInt(v.target.value)
      }
    },
    handlePlus (row) {
      if (this.tableData[row._index].numUD === '') {
        this.tableData[row._index].numUD = 0
      }
      this.tableData[row._index].numUD = this.tableData[row._index].numUD + 1
    },
    handleMinus (row) {
      if (this.tableData[row._index].numUD === '') {
        this.tableData[row._index].numUD = 0
      }
      this.tableData[row._index].numUD = this.tableData[row._index].numUD - 1
    }

    // search () {
    //   this.params.page = 1
    //   this.init()
    // },
    // confirm () {
    //   this.modal1 = false
    //   this.$Message.success('保存成功！')
    //   this.cancel()
    // },
    // cancel () {},
    // add () {
    //   this.modal1 = true
    // },
    // setStatus (id, status) {
    //   var text = '确定要' + (status == 1 ? '启用' : '禁用') + '此机器组么？'
    //   this.$Modal.confirm({
    //     title: text,
    //     onOk: () => {
    //       this.$Message.success('操作成功')
    //     },
    //     onCancel: () => {}
    //   })
    // },
    // lists () {},
    // timechange (val) {
    //   console.log(val)
    // },
    // handleSizeChange (val) {
    //   this.request.page = 1
    //   this.request.limit = val
    //   this.lists()
    // },
  }
}
</script>
<style  scoped>
* {
  margin: 0;
  padding: 0;
}
.door_device {
  position: relative;
  top: -20px;
}
.displayNone {
  display: none;
}

/* .ivu-btn-text:hover
{
  background-color:none ;

} */
</style>
