<template>
	<div id="app">

		<div class="layout">
			<Layout class="layout_" style="height: 100%;">
				<Sider ref="side1" hide-trigger collapsible :collapsed-width="78">
					
					<mMenu v-if="isRouterAlive"></mMenu>
				</Sider>
				<Layout>
					<mHeader></mHeader>
					<Content :style="{margin: '20px'}" style="    overflow: hidden;">
						<Card style="min-height: calc( 100vh - 104px );">
							<mMain v-if="isRouterAlive"></mMain>
						</Card>

					</Content>
				</Layout>
			</Layout>
		</div>


	</div>

	<!-- <router-view  /> -->

</template>
<script>
	import mMenu from '@/components/Menu/index.vue'
	import mHeader from '@/components/Header/index.vue'
	import mMain from '@/components/Main/index.vue'
	export default {
		components: {
			mMenu,
			mHeader,
			mMain
		},
		provide() {
			return {
				reload: this.reload
			}
		},
		data() {
			return {
				isCollapsed: false,
				Breadcrumb: [],
				isRouterAlive: true
			}
		},
		created() {
			console.log(this.$route)
		},
		methods: {
			reload() {
				this.isRouterAlive = false;
				this.$nextTick(function() {
					this.isRouterAlive = true;
				})
			}
		}
	}
</script>

<style lang="scss">
	html,
	body,
	#app {
		width: 100%;
		height: 100%;
	}

	.maxH72 {
		max-height: 128px;
		overflow-y: auto;
	}

	#app {
		overflow: hidden;
	}

	img {
		display: block;
	}

	.ivu-box {
		overflow-y: auto;
	}

	.form_box {
		height: calc(100vh - 232px);
		overflow-y: auto;
	}

	// menu滚动条隐藏
	.layout_ .ivu-layout-sider-children::-webkit-scrollbar {
		display: none;
		/* Chrome Safari */
	}

	ul li {
		list-style: none;
		display: inline-block;
	}

	.li_32 {
		height: 32px;
		line-height: 32px;
		margin-right: 8px;
	}

	.layout_ .ivu-layout-sider-children {
		scrollbar-width: none;
		/* firefox */
		-ms-overflow-style: none;
		/* IE 10+ */
	}

	.no-click {
		pointer-events: none;
		opacity: 0.6;
	}

	.layout {
		// border: 1px solid #d7dde4;
		background: #f5f7f9;
		position: relative;
		// border-radius: 4px;
		overflow-y: hidden;
		height: 100%;
	}

	.layout-header-bar {
		background: #fff;
		box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
	}

	.layout-logo-left {
		width: 90%;
		height: 30px;
		background: #5b6270;
		border-radius: 3px;
		margin: 15px auto;
	}

	.menu-icon {
		transition: all .3s;
	}

	.rotate-icon {
		transform: rotate(-90deg);
	}

	.menu-item span {
		display: inline-block;
		overflow: hidden;
		width: 69px;
		text-overflow: ellipsis;
		white-space: nowrap;
		vertical-align: bottom;
		transition: width .2s ease .2s;
	}

	.menu-item i {
		transform: translateX(0px);
		transition: font-size .2s ease, transform .2s ease;
		vertical-align: middle;
		font-size: 16px;
	}

	.collapsed-menu span {
		width: 0px;
		transition: width .2s ease;
	}

	.collapsed-menu i {
		transform: translateX(5px);
		transition: font-size .2s ease .2s, transform .2s ease .2s;
		vertical-align: middle;
		font-size: 22px;
	}

	.ivu-layout-sider-children {
		overflow-y: scroll;
	}

	.ivu-form {
		max-width: 100%;
	}

	.icon_img {
		width: 100px;
		height: 100px;
		margin: 10px auto;
	}

	.input {
		max-width: 400px;
	}

	.user_head {
		margin: 10px 0px;
		display: flex;
		text-align: center;
		justify-content: center;
		flex-direction: column;
	}

	.user_head img {
		width: 80px;
		height: 80px;
		margin: 0 auto;
		border-radius: 80px;
	}

	.spec_span {
		font-size: 12px;
		color: #aba9a9;
	}

	.ivu-form {
		margin-top: 24px;
	}
</style>
