<template>
	<div>
	
	</div>
</template>

<script>
	export default {
		data() {
			return {
				list: [{
					"id": "1", //角色ID
					"title": "admin", //角色名称
					"status": "1", //角色状态
					"createtime": "1970-01-01 08:33:38", //创建时间
					"remarks": "管理员角色" //备注
				}, {
					"id": "2",
					"title": "manager",
					"status": "1",
					"createtime": "1970-01-01 08:33:38", 
					"remarks": "经理角色" 
				},{
					"id": "3",
					"title": "manager",
					"status": "1", 
					"createtime": "1970-01-01 08:33:38",
					"remarks": "机器组角色"
				},
				{
					"id": "4", //角色ID
					"title": "member",
					"status": "1", 
					"createtime": "1970-01-01 08:33:38",
					"remarks": "机器组角色"
				},
				
				]
			}
		}
	}
</script>

<style>
</style>
