<template>
  <div>
    <Breadcrumb>
      <BreadcrumbItem>首页</BreadcrumbItem>
      <BreadcrumbItem>库存查询</BreadcrumbItem>
    </Breadcrumb>
    <!--  检索  -->
    <Form ref="formInline" :model="params" inline>

      <FormItem>
        库存状态:<Select
        clearable
        style="width: 120px"
        v-model="params.num_status"
      >
        <Option value="1">正常</Option>
        <Option value="2">报警</Option>
      </Select>
      </FormItem>

      <FormItem>
        设备名称：<Input
        type="text"
        v-model="params.name"
        clearable
        placeholder="设备名称"
        style="width: 120px"
      />
      </FormItem>

      <FormItem>
        设备编号:<Input
        type="text"
        v-model="params.device_id"
        clearable
        placeholder="设备编号"
        style="width: 120px"
      />
      </FormItem>

      <FormItem>
        设备地址:<Input
        type="text"
        v-model="params.address"
        clearable
        placeholder="设备编号"
        style="width: 120px"
      />
      </FormItem>

      <FormItem>
        <Button type="primary" @click="search" style="margin-right: 10px"
        >搜索
        </Button
        >
        <Button type="success" v-hasPermission="['60']" @click="exportexcel" style="margin-right: 10px"
        >导出
        </Button
        >
      </FormItem>


    </Form>
    <div>
      <span style="font-weight: bold">报警阈值设置:</span
      ><span>当"库存/标准库存"小于{{ showthreshold }}%时，进行报警提示</span
    >
      <Button type="success" v-hasPermission="['61']" @click="addsetting" style="margin-left: 10px"
      >阈值设置
      </Button
      >
    </div>

    <div style="margin-top: 20px">
      <Table :columns="columns1" :data="tableData" :height="height">
        <template slot-scope="{ row }" slot="num_status">
          <span class="success" v-if="row.num_status === '1'">正常</span>
          <span class="error" v-else>报警</span>
        </template>

        <template slot-scope="{ row }" slot="option">
          <Button
            type="primary" v-hasPermission="['62']"
            size="small"
            style="margin-right: 5px"

            @click="onShowDetail(row)"
          >库存详情
          </Button
          >
        </template>
      </Table>
    </div>

    <!-- 分页 -->
    <div style="display: flex; justify-content: center; margin-top: 24px">
      <Page
        background
        layout="prev, pager, next"
        :page-size="params.limit"
        :total="total"
        @on-change="handleCurrentChange"
        :current-page="params.page"
      />
      <Modal v-model="modal2" :mask-closable="false" width="1000" @on-cancel="onClose()">
        <Form :label-width="110">
          <div>
            <h4 class="door_device">库存详情--{{ devName }}</h4>
          </div>
          <Form ref="formInline" :model="request" inline>
            <FormItem>
              <DatePicker
                type="daterange"
                @on-change="timechange"
                :transfer="true"
                placement="bottom-end"
                placeholder="请选择开始-结束时间"
                style="width: 200px"
              ></DatePicker>
            </FormItem>
            <FormItem>
              <Button type="primary" @click="search" style="margin-right: 10px"
              >搜索
              </Button
              >
              <Button
                type="primary" v-hasPermission="['63']"
                @click="exportexceldetail"
                style="margin-right: 10px"
              >导出
              </Button
              >
              <div style="float: right; margin-right: -500px">
                <Button
                  v-if="!isSetStand" v-hasPermission="['64']"
                  type="primary"
                  @click="isSetStand = true"
                >设置标准库存
                </Button
                >
                <div v-if="isSetStand">
                  <Button
                    type="success"
                    style="margin-right: 10px"
                    @click="handleSetting"
                  >完成标准库存设置
                  </Button
                  >
                  <Button
                    type="error"
                    style="margin-right: 10px"
                    @click="handleCancelSetting"
                  >取消
                  </Button
                  >
                </div>
              </div>
            </FormItem>
            <div style="display: flex">
              <p>剩余库存总数:</p>
              <span>{{ leftNum }}</span>
            </div>
            <Table border :columns="columns2" :data="data2">
              <template
                slot-scope="{ row }"
                slot="info_num"
                style="margin-right: 5px"
              >
                <div>
                  <span style="float: left">{{ row.info_num }}</span>
                  <div v-if="isSetStand" style="float: right">
                    <Input-number
                      v-model="row.info_num_new"
                      @on-change="(e) => handleChange(e, row)"
                    ></Input-number>
                  </div>
                </div>
              </template>
            </Table>
            <div style="display: flex;justify-content: center;margin-top: 24px;">
              <Page :total="page1.count" :page-size="10" :page-size-opts="[10,20,40,50,100]" show-elevator show-sizer
                    show-total @on-change="handleCurrentChangeShopGood"
                    @on-page-size-change="handleSizeChangeShopGood"/>
            </div>
            <div style="display: flex">
              <div><p>库存更新日志:</p></div>
              <div>
                <p>2011-09-16 17：55：19上货 未更新库存</p>
              </div>
            </div>
          </Form>
        </Form>
        <div slot="footer">
          <Button type="primary" @click="onClose()">取消</Button>
        </div>
      </Modal>
      <Modal v-model="modal3" :mask-closable="false" width="1000">
        <Form :label-width="110">
          <div><h4 class="door_device">库存详情</h4></div>
          <Form ref="formInline" :model="request" inline>
            <FormItem>
              <DatePicker
                type="daterange"
                @on-change="timechange"
                :transfer="true"
                placement="bottom-end"
                placeholder="请选择开始-结束时间"
                style="width: 200px"
              ></DatePicker>
            </FormItem>
            <FormItem>
              <Button type="primary" @click="search" style="margin-right: 10px"
              >搜索
              </Button
              >
              <Button type="primary" @click="search" style="margin-right: 10px"
              >导出
              </Button
              >
              <Button type="success" style="margin-right: 10px"
              >完成标准库存设置
              </Button
              >
              <Button type="error" style="margin-right: 10px">取消</Button>
            </FormItem>
            <div><p>剩余库存总数</p></div>
            <Table border :columns="columns2" :data="data2"></Table>
            <div style="display: flex">
              <div><p>库存更新日志:</p></div>
              <div>
                <p>2011-09-16 17：55：19上货 未更新库存</p>
              </div>
            </div>
          </Form>
        </Form>
      </Modal>
      <Modal
        v-model="modal4"
        @on-ok="confirmsetting"
        @on-cancel="cancelsetting"
        :mask-closable="false"
      >
        <Form ref="formAddthreshold" :model="thresholdmodel" :label-width="110">
          <div class="door_device"><h4>库存报警阈值设置</h4></div>
          <FormItem label="阈值设置:">
            <Input v-model="thresholdmodel.threshold" value="50"></Input>
          </FormItem>
        </Form>
      </Modal>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      devName: '',
      leftNum: 0,
      columns2: [
        {
          title: '商品名称',
          key: 'goods_name'
        },
        {
          title: '已售',
          key: 'buy_num'
        },
        {
          title: '库存',
          key: 'num'
        },
        {
          title: '标准库存',
          slot: 'info_num',
          align: 'center'
        },
        // {
        //   title: '标准库存',
        //   key: 'info_num',
        //   render: (h, params) => {
        //     return h('div', [
        //       h('Input', {
        //         props: {
        //           size: 'small',
        //           value: this.data2[params.index].info_num,
        //           disabled: !this.isSetStand
        //         },
        //         on: {
        //           'on-change': (e) => {
        //             this.data2[params.index].info_num = e.target.value
        //           }
        //         }
        //       })
        //     ])
        //   }

        // },
        {
          title: '待补货',
          key: 'repair_num'
        }
      ],
      data2: [],
      data2_old: [],
      params: {
        name: '',
        num_status: '',
        device_id: '',
        page: 1,
        limit: 10,
        address: ''
      },

      requestShopGoods: {
        device_id: '',
        name: '',
        num_status: '',
        page: 1,
        limit: 10
      },
      total: 0,
      page: {},
      page1: {
        count: 0
      },
      // height: this.$store.state.height,
      height: '700px',
      isSetStand: false,
      modal1: false,
      modal2: false,
      modal3: false,
      modal4: false,
      showthreshold: 0,
      thresholdmodel: {
        threshold: ''
      },
      data1: [
        {
          id: 1,
          title: '机器组3'
        },
        {
          id: 2,
          title: '机器组4'
        }
      ],
      request: {
        device_id: '',
        page: 1
      },
      columns1: [
        {
          title: '设备名称',
          key: 'name',
          minWidth: 150,
          align: 'center'
        },
        {
          title: '设备编号',
          key: 'id',
          minWidth: 300,
          align: 'center'
        },
        {
          title: '设备地址',
          key: 'address',
          minWidth: 150,
          align: 'center'
        },

        {
          title: '剩余库存',
          key: 'num',
          minWidth: 150,
          align: 'center'
        },
        {
          title: '标准库存',
          // key: 'info_num',
          key: 'info_num',
          minWidth: 150,
          align: 'center'
        },
        {
          title: '库存阀值',
          key: 'rule',
          minWidth: 150,
          align: 'center'
        },
        {
          title: '库存状态',
          slot: 'num_status',
          minWidth: 150,
          align: 'center'
        },
        {
          title: '操作',
          slot: 'option',
          minWidth: 150,
          align: 'center'
        }
      ],
      tableData: [],
      role_id: null
    }
  },
  mounted () {
    this.init()
    this.initthreshold()
  },
  methods: {
    onShowDetail (row) {
      this.isSetStand = false
      this.request.device_id = row.id
      this.devName = row.name
      this.leftNum = row.num
      this.getgoodsdetail(this.request.device_id)
    },

    getgoodsdetail (deviceid) {
      this.cancel()

      this.requestShopGoods.device_id = deviceid
      this.modal2 = true
      //let reqParms=Object.assign(this.requestShopGoods,this.params)
      this.axios
        .post('Store/goods_list', this.requestShopGoods)
        .then((res) => {
          if (res.code === 1) {
            this.data2 = res.data.list
            this.page1.count = res.data.count // 总条数
            this.page1.curPage = res.data.curPage // 当前页
            this.page1.countPage = res.data.countPage // 总页数

            this.data2.forEach(function (e, i) {
              Object.assign(e, { info_num_new: '' })
            })
          }
        })
    },

    add3 () {
      this.isSetStand = true

    },
    addsetting () {
      this.cancel()

      this.modal4 = true
    },
    handleChange (v, row) {
      this.data2[row._index].info_num_new = v
      console.log(this.data2[row._index])
    },
    handleSetting () {
      var data = this.data2.map((item) => {
        if (item.info_num_new !== '') {
          return {
            id: item.id,
            info_num: item.info_num_new
          }
        }
      })
      this.axios.post('Store/set_info_num', { goods: data }).then((res) => {
        if (res.code === 1) {
          this.isSetStand = false
          this.getgoodsdetail(this.request.device_id)
          this.$Message.success('设置成功')
        }
      })
    },

    handleCancelSetting () {
      this.isSetStand = false
    },
    onClose () {
      this.modal2 = false
      this.isSetStand = false
      this.init()
    },
    confirmsetting () {
      this.axios
        .post('Store/set_threshold', this.thresholdmodel)
        .then((res) => {
          if (res.code === 1) {
            this.cancelsetting()
            this.threshold = res.data.threshold
            this.$Message.success('设置成功')
            this.initthreshold()
            this.init()
          }
        })
    },
    cancelsetting () {
      this.modal4 = false
      this.$refs.formAddthreshold.resetFields()
    },
    initthreshold () {
      this.axios.get('Store/set_threshold').then((res) => {
        if (res.code === 1) {
          this.showthreshold = res.data.threshold
        }
      })
    },

    handleSizeChangeShopGood (val) {
      this.requestShopGoods.page = 1
      this.requestShopGoods.limit = val
      this.getgoodsdetail(this.requestShopGoods.device_id)
    },
    handleCurrentChangeShopGood (val) {
      this.requestShopGoods.page = val
      this.getgoodsdetail(this.requestShopGoods.device_id)
    },
    exportexcel () {
      this.axios.post('Store/store_down_load', this.request).then((res) => {
        if (res.code === 1) {
          console.log('res.data', res.data.url)
          window.location.href = res.data.url
        }
      })
    },
    exportexceldetail () {
      this.axios.post('Store/goods_down_load', this.request).then((res) => {
        if (res.code === 1) {
          console.log('res.data', res.data.url)
          window.location.href = res.data.url
        }
      })
    },

    /**
     * 搜索库存
     */
    search () {
      this.params.page = 1
      this.init()
    },
    confirm () {
      this.modal1 = false
      this.$Message.success('保存成功！')
      this.cancel()
    },
    cancel () {
    },
    add () {
      this.modal1 = true
    },
    setStatus (id, status) {
      var text = '确定要' + (status === 1 ? '启用' : '禁用') + '此机器组么？'
      this.$Modal.confirm({
        title: text,
        onOk: () => {
          this.$Message.success('操作成功')
        },
        onCancel: () => {
        }
      })
    },
    lists () {
    },
    timechange (val) {
      console.log(val)
    },
    handleSizeChange (val) {
      this.request.page = 1
      this.request.limit = val
      this.lists()
    },
    handleCurrentChange (val) {
      this.params.page = val
      this.init()
    },
    // ---------------------------- axios ----------------------------------
    /**
     * 查询库存axios
     */
    init () {
      this.axios.post('Store/device_list', this.params).then((res) => {
        if (res.code === 1) {
          this.tableData = res.data.list
          this.page.count = res.data.count // 总条数
          this.page.curPage = res.data.curPage // 当前页
          this.page.countPage = res.data.countPage // 总页数
        }
      })
    },
  }
}
</script>

<style>
* {
  margin: 0;
  padding: 0;
}

.door_device {
  position: relative;
  top: -20px;
}

.ivu-table-body {
  height: 30em;
  overflow-y: scroll;
}
</style>
