<template>
  <div>
    <Breadcrumb>
      <BreadcrumbItem>首页</BreadcrumbItem>
      <BreadcrumbItem>库存详情-弹窗-设置标准库存</BreadcrumbItem>
    </Breadcrumb>
    <Form ref="formInline" :model="request" inline>
      <FormItem>
        <Input
          type="text"
          v-model="params.user_id"
          clearable
          placeholder="设备名称"
        />
      </FormItem>
      <FormItem>
        <Input
          type="text"
          v-model="params.order_id"
          clearable
          placeholder="设备编号"
        />
      </FormItem>
      <FormItem>
        <Input
          type="text"
          v-model="params.activity_id"
          clearable
          placeholder="库存状态"
        />
      </FormItem>
      <FormItem>
        <DatePicker
          type="daterange"
          v-model="params.device_time"
          @on-change="timechange"
          :transfer="true"
          placement="bottom-end"
          placeholder="请选择开始-结束时间"
          style="width: 200px"
        ></DatePicker>
      </FormItem>
      <FormItem>
        <Button type="primary" @click="search" style="margin-right: 10px"
          >搜索</Button
        >
      </FormItem>
    </Form>
   

    <div>
      <Table :columns="columns1" :data="tableData" :height="height">
        <template slot-scope="{ row }" slot="button">
					<Button type="success"  size="small" style="margin-right: 5px" >查看上货详情</Button>
					
				</template>
      </Table>
    </div>

    <div style="display: flex; justify-content: center; margin-top: 24px">
      <Page
        background
        layout="prev, pager, next"
        :page-size="params.limit"
        :total="total"
        @on-change="handleCurrentChange"
        :current-page="params.page"
      />
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      params: {
        device_time: [],
        status: 1,
        user_id: "",
        order_id: "",
        activity_id: "",
        page: 1,
        limit: 10,
      },
      total: 0,
      page: {},
      height: this.$store.state.height,
      modal1: false,
      data1: [
        {
          id: 1,
          title: "机器组3",
        },
        {
          id: 2,
          title: "机器组4",
        },
      ],
      request: {
        device_number: "",
        page: 1,
      },
      columns1: [
        {
          title: "活动编号",
          key: "hdbh",
          minWidth: 150,
          align: "center",
        },
        {
          title: "姓名",
          key: "xm",
          minWidth: 300,
          align: "center",
        },
        {
          title: "设备名称",
          key: "sbmc",
          minWidth: 150,
          align: "center",
        },

        {
          title: "设备编号",
          key: "sbbh",
          minWidth: 150,
          align: "center",
        },
        {
          title: "所属门店",
          key: "ssmd",
          minWidth: 150,
          align: "center",
        },
        {
          title: "创建时间",
          key: "cjsj",
          minWidth: 150,
          align: "center",
        },
        {
          title: "操作",
          key: "button",
          minWidth: 150,
          align: "center",
        },
        
      ],
      tableData: [],
      role_id:null,
    };
  },
  mounted() {

    this.init();
  },
  methods: {
    init() {
      this.axios.post("order/order_list", this.params).then((res) => {
        console.log("this.params: ", this.params);
        if (res.code == 1) {
          console.log(res);
          this.total = res.data.count;
          //this.tableData = res.data.list;
          //var singleRow={sbmc:'ResMed (2) Level 1 Pantry - Thomas',sbbh:'B104',sbdz:'50 Macpherson Road, #08-01 Singapore 348471',sykc: '124',bzkc: '171',kcfz:'73%',kczt:'正常'}
          //this.tableData.push(singleRow)
        }
      });
    },
    goDel(id) {
      this.$router.push({ path: "/order/detail", query: { id } });
    },
    search() {
      this.params.page = 1;
      this.init();
    },
    confirm() {
      this.modal1 = false;
      this.$Message.success("保存成功！");
      this.cancel();
    },
    cancel() {},
    add() {
      this.modal1 = true;
    },
    setStatus(id, status) {
      var text = "确定要" + (status == 1 ? "启用" : "禁用") + "此机器组么？";
      this.$Modal.confirm({
        title: text,
        onOk: () => {
          this.$Message.success("操作成功");
        },
        onCancel: () => {},
      });
    },
    lists() {},
    timechange(val) {
      console.log(val);
    },
    handleSizeChange(val) {
      this.request.page = 1;
      this.request.limit = val;
      this.lists();
    },
    handleCurrentChange(val) {
      this.params.page = val;
      this.init();
    },
  },
};
</script>

<style>
</style>
