<template>
  <div>
    <Breadcrumb>
      <BreadcrumbItem>首页</BreadcrumbItem>
      <BreadcrumbItem>上下货查询</BreadcrumbItem>
    </Breadcrumb>
    <Form ref="formInline" :model="params" inline>
      <FormItem>
        <Select
          clearable
          v-model="params.user_id"
          placeholder="选择操作员"
          style="width: 120px"
        >
          <Option
            :value="item.id"
            v-for="(item, index) in data1"
            :key="index"
            >{{ item.username }}</Option
          >
        </Select>
      </FormItem>
      <FormItem>
        设备名称：<Input
          type="text"
          v-model="params.device_name"
          clearable
          placeholder="设备名称"
          style="width: 120px"
        />
      </FormItem>
      <FormItem>
        设备编号:
        <Input
          type="text"
          v-model="params.device_id"
          clearable
          placeholder="设备编号"
          style="width: 120px"
        />
      </FormItem>
      <FormItem>
        时间查询:
        <DatePicker
          type="daterange"
          @on-change="timechange"
          :transfer="true"
          placement="bottom-end"
          placeholder="请选择开始-结束时间"
          style="width: 200px"
        ></DatePicker>
      </FormItem>

      <FormItem>
        <Button type="primary" @click="search" style="margin-right: 10px"
          >搜索</Button
        >
        <Button type="success" v-hasPermission="['66']" @click="exportexcel" style="margin-right: 10px"
          >导出</Button
        >
      </FormItem>
    </Form>
    <div>
      <Table :columns="columns1" :data="tableData" :height="height">
        <template slot-scope="{ row }" slot="status">
          <span class="success" v-if="row.status === '1'">正常</span>
          <span class="error" v-else>异常</span>
        </template>
        <template slot-scope="{ row }" slot="order_name">
          <span>{{ row.order_name[0] }}</span>
        </template>
        <template slot-scope="{ row }" slot="is_push">
          <span class="success" v-if="row.is_push == 2">完成</span>
          <span class="error" v-else>未完成</span>
        </template>
        <template slot-scope="{ row }" slot="option" >
          <Button
            type="primary" v-hasPermission="['67']"
            size="small"
            style="margin-right: 5px"
            @click="getgoods(row.id)"
            >查看上货详情</Button
          >
        </template>
      </Table>
    </div>

    <div style="display: flex; justify-content: center; margin-top: 24px">
      <Page
        background
        layout="prev, pager, next"
        :page-size="params.limit"
        :total="total"
        @on-change="handleCurrentChange"
        :current-page="params.page"
      />
      <Modal v-model="modal2" :mask-closable="false" width="1000">
        <Form :label-width="110">
          <div><h4 class="door_device">上货详情</h4></div>
          <Form ref="formInline" :model="request" inline>
            <FormItem>
              <Button
                type="primary" v-hasPermission="['68']"
                @click="exportexceldetail(request.id)"
                style="margin-right: 10px"
                >导出</Button
              >
            </FormItem>
            <Table border :columns="columns2" :data="data2">
              <template slot-scope="{ row }" slot="status">
                <span class="success" v-if="row.status === '1'">新增</span>
                <span class="error" v-if="row.status === '2'">减少</span>
              </template>

                <template slot-scope="{ row }" slot="num">
                <span   v-if="row.status === '1'">+</span>
                <span   v-if="row.status === '2'">-</span>
                 {{ row.num}}
              </template>
            </Table>
          </Form>
        </Form>
      </Modal>
      <Modal v-model="modal3" :mask-closable="false" width="1000">
        <Form :label-width="110">
          <div><h4 class="door_device">库存详情</h4></div>
          <Form ref="formInline" :model="request" inline>
            <FormItem>
              <DatePicker
                type="daterange"
                @on-change="timechange"
                :transfer="true"
                placement="bottom-end"
                placeholder="请选择开始-结束时间"
                style="width: 200px"
              ></DatePicker>
            </FormItem>
            <FormItem>
              <Button type="primary" @click="search" style="margin-right: 10px"
                >搜索</Button
              >
              <Button
                type="primary"
                @click="exportexcel"
                style="margin-right: 10px"
                >导出</Button
              >
              <Button type="success" style="margin-right: 10px"
                >完成标准库存设置</Button
              >
              <Button type="error" style="margin-right: 10px">取消</Button>
            </FormItem>
            <div><p>剩余库存总数</p></div>
            <Table border :columns="columns2" :data="data2"></Table>
            <div style="display: flex">
              <div><p>库存更新日志:</p></div>
              <div>
                <p>2011-09-16 17：55：19上货 未更新库存</p>
                <p>2011-09-16 17：55：19上货 未更新库存</p>
                <p>2011-09-16 17：55：19上货 未更新库存</p>
                <p>2011-09-16 17：55：19上货 未更新库存</p>
                <p>2011-09-16 17：55：19上货 未更新库存</p>
                <p>2011-09-16 17：55：19上货 未更新库存</p>
              </div>
            </div>
          </Form>
        </Form>
      </Modal>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      columns2: [
        {
          title: '商品名称',
          key: 'goods_name'
        },
        {
          title: '上货状态',
          slot: 'status'
        },
        {
          title: '数量',
          slot: 'num'
        }
      ],
      data2: [],
      params: {
        create_time: [],
        user_id: '',
        device_name: '',
        device_id: '',
        page: 1,
        limit: 10
      },
      total: 0,
      page: {},
      height: this.$store.state.height,
      modal1: false,
      modal2: false,
      modal3: false,
      data1: [
        {
          id: 1,
          title: '机器组3'
        },
        {
          id: 2,
          title: '机器组4'
        }
      ],
      request: {
        id: '',
        page: 1
      },
      columns1: [
        {
          title: '活动编号',
          key: 'activity_id',
          minWidth: 150,
          align: 'center'
        },
        {
          title: '姓名',
          key: 'username',
          minWidth: 300,
          align: 'center'
        },
        {
          title: '设备名称',
          key: 'device_name',
          minWidth: 150,
          align: 'center'
        },
        {
          title: '设备编号',
          key: 'device_id',
          minWidth: 150,
          align: 'center'
        },

        {
          title: '所属门店',
          key: 'shop_name',
          minWidth: 150,
          align: 'center'
        },
        {
          title: '创建时间',
          key: 'create_time',
          minWidth: 150,
          align: 'center'
        },
        {
          title: '操作',
          slot: 'option',
          minWidth: 150,
          align: 'center'
        }
      ],
      tableData: [],
      role_id: null
    }
  },
  mounted () {
    this.init()

    this.getOperlist()
  },
  methods: {
    getgoods (upid) {
      this.cancel()
      this.modal2 = true
      this.request.id = upid
      this.axios.post('Store/up_goods_list', { id: upid }).then((res) => {
        if (res.code == 1) {
          this.data2 = res.data.list
        }
      })
    },
    add3 () {
      this.cancel()
      this.modal3 = true
      this.allocated = []
      this.undistributed = []
      if (this.infoID == 6) {
        console.log('6')
        this.axios.post('device/getAllDev').then((res) => {
          if (res.code == 1) {
            this.allocated = res.data.allocated
            this.undistributed = res.data.undistributed
          }
        })
      }
    },
    init () {
      this.axios.post('Store/up_list', this.params).then((res) => {
        console.log('this.params: ', this.params)
        if (res.code == 1) {
          console.log(res)
          this.total = res.data.count
          this.params.total = res.data.count
          this.params.curPage = res.data.curPage // 当前页
          this.params.countPage = res.data.countPage // 总页数
          this.tableData = res.data.list
        }
      })
    },
    getOperlist () {
      // 操作员
      this.axios.post('device/operatorList').then((res) => {
        if (res.code === 1) {
          this.data1 = res.data.list
          // console.log('res.data', res.data)
          // const dataFirst = res.data[0]
          // this.defaultShopID = dataFirst.id
          // console.log('this.defaultShopID', this.defaultShopID)
        }
      })
    },
    search () {
      this.params.page = 1
      this.init()
      this.getOperlist()
    },
    exportexcel () {
      this.axios.post('Store/up_down_load').then((res) => {
        if (res.code === 1) {
          console.log('res.data', res.data.url)
          window.location.href = res.data.url
        }
      })
    },

    exportexceldetail (updownid) {
      this.axios
        .post('Store/up_goods_down_load', { id: updownid })
        .then((res) => {
          if (res.code === 1) {
            console.log('res.data', res.data.url)
            window.location.href = res.data.url
          }
        })
    },
    confirm () {
      this.modal1 = false
      this.$Message.success('保存成功！')
      this.cancel()
    },
    cancel () {},
    add () {
      this.modal1 = true
    },
    setStatus (id, status) {
      var text = '确定要' + (status == 1 ? '启用' : '禁用') + '此机器组么？'
      this.$Modal.confirm({
        title: text,
        onOk: () => {
          this.$Message.success('操作成功')
        },
        onCancel: () => {}
      })
    },
    lists () {},
    timechange (val) {
      console.log(val)
    },
    handleSizeChange (val) {
      this.request.page = 1
      this.request.limit = val
      this.lists()
    },
    handleCurrentChange (val) {
      this.params.page = val
      this.init()
    }
  }
}
</script>

<style>
* {
  margin: 0;
  padding: 0;
}
.door_device {
  position: relative;
  top: -20px;
}
</style>
